
# BEGIN MandarinCMS
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /site/JMDRevolution/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /site/JMDRevolution/index.php [L]
</IfModule>

# END MandarinCMS
# BEGIN Hotlinking

# END Hotlinking