/***** Add Color to MH Widgets *****/

#widget-list [id*='_jmd_'] .widget-top, #widget-list [id*='_jmd_'] h3 { background: #0074a2; color: #fff; }
.widget-separator { font-size: 18px; font-weight: 600; border-bottom: 2px solid #ddd; }

/***** MySkin Info Page *****/

.myskin-info-wrap { margin: 25px 40px 0 20px; max-width: 1050px; position: relative; }
.myskin-info-wrap img { max-width: 100%; }
.myskin-info-wrap .mh-clearfix:before, .myskin-info-wrap .mh-clearfix:after { content: " "; display: table; }
.myskin-info-wrap .mh-clearfix:after { clear: both; }
.myskin-info-wrap .mh-clearfix { *zoom: 1; }
.myskin-info-wrap .mh-row [class*='mh-col-']:first-child { margin: 0; }
.myskin-info-wrap [class*='mh-col-'] { float: left; margin-left: 2.5%; overflow: hidden; }
.myskin-info-wrap .mh-col-1-2 { width: 48.75%; }
.myskin-info-wrap .mh-col-1-3 { width: 31.66%; }
.myskin-info-wrap .mh-col-2-3 { width: 65.83%; }
.myskin-info-wrap .mh-col-1-4 { width: 23.12%; }
.myskin-info-wrap .mh-col-3-4 { width: 74.37%; }
.myskin-info-wrap .myskin-intro { margin: 20px 0; }
.myskin-info-wrap h1 { font-size: 40px; font-size: 2.5rem; font-weight: 400; line-height: 1.2; margin-bottom: 0; color: #333333; }
.myskin-info-wrap h3 { font-size: 24px; font-size: 1.5rem; line-height: 1.2; }
.myskin-info-wrap h4 { font-size: 18px; font-size: 1.125rem; margin: 10px 0; margin: 0.625rem 0; }
.myskin-info-wrap .myskin-description { font-size: 17px; font-size: 1.0625rem; font-weight: 400; line-height: 1.5; color: #777777; }
.myskin-info-wrap .myskin-links p strong { font-size: 14px; font-size: 0.875rem; margin-right: 16px; margin-right: 1rem; }
.myskin-info-wrap .myskin-links p a { font-size: 14px; font-size: 0.875rem; margin-right: 16px; margin-right: 1rem; }
#getting-started { margin: 16px 0; margin: 1rem 0; }
#getting-started .section { margin: 8px 0 30px; margin: 0.5rem 0 1.875rem; }
#getting-started .section .about { font-size: 14px; font-size: 0.875rem; line-height: 1.5; color: #777777; }
#getting-started .section .button { max-width: 100%; }
#getting-started img { margin-top: 16px; margin-top: 1rem; }
.myskin-comparison { margin-bottom: 25px; overflow: hidden; }
.myskin-comparison table { width: 100%; font-size: 16px; border: 1px solid #ddd; border-collapse: collapse; }
.myskin-comparison-header th { width: 33%; background: #555; }
.myskin-comparison-header th:first-child { background: #777; }
.myskin-comparison-header th:last-child { background: #0085ba; }
.myskin-comparison-header h3 { font-size: 18px; color: #fff; margin: 10px 20px; text-align: left; }
.myskin-comparison tr:nth-child(2n) { background-color: #f6f6f6; }
.myskin-comparison td { padding: 15px 20px; }
.myskin-comparison td h3 { font-size: 16px; margin: 0; }
.myskin-comparison .dashicons { font-size: 25px; }
.myskin-comparison .dashicons-no { color: #e64946; }
.myskin-comparison .dashicons-yes { color: #5f9e65; }
.myskin-comparison .upgrade-button { display: inline-block; font-size: 12px; font-weight: 600; color: #fff; letter-spacing: 0.5px; padding: 10px; margin: 10px 0; box-shadow: none; border: none; text-align: center; text-decoration: none; text-transform: uppercase; background: #0085ba; }
#myskin-author { margin: 16px 0; margin: 1rem 0; }
#myskin-author p { font-size: 14px; font-size: 0.875rem; color: #777777; }

@media screen and (max-width: 1000px) {
	.myskin-info-wrap .myskin-links p strong { display: block; }
	.myskin-info-wrap [class*='mh-col-'] { float: none; width: 100%; margin: 0; }
	.myskin-info-wrap .myskin-screenshot { margin-bottom: 20px; }
}